{
    "Age": 6,
    "Height": 1.85,
    "Name": "{{ exclude .Env.HOST_LIST .Env.SELF_IP "," }}",
    "Parents": [
        "Gomez",
        "Morticia",
        "{{ .Env.BAU }}"
    ],
    "Appearence": {
        "Nose": "small",
        "Construction": "fit",
        "Limbs": {
            "Hands": "large",
            "Feet": 2
        }
    },
}
